<style>
  a.button {
    padding: 1px 6px;
    border: 1px outset;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
  }
</style>

<html lang="en-GB">
<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome Message</title>
</head>
<body>
<header><h1>Welcome to Trade Binder!</h1></header>
<p>Thank you for registering for a Trade Binder account. Before you can begin, you must verify your email address by
  clinking the link below.</p>
<a href="https://google.com/{{ id }}/{{ token }}" class="button" rel="noopener noreferrer"
   target="_blank">Verify your account!</a>
</body>
</html>